@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

